Repository Tenacom/Buildvana.Sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: area:code, area:style, area:build, area:repo, area:ci, area:deps, area:docs

.github/labeler.yml:

'area:code':
  - '*.sln'
  - 'src/**/*'

'area:style':
  - '**/.editorconfig'
  - '**/.globalconfig'
  - '**/stylecop.json'
  - '**/*.DotSettings'

'area:build':
  - '**/*.cake'
  - 'build/**/*'

'area:repo':
  - '.github/*.yml'
  - '.github/**/*.md'
  - CODEOWNERS
  - '.github/CODEOWNERS'

'area:ci':
  - '.github/workflows/**/*'
  - 'lgtm.yml'

'area:deps':
  - '**/Directory.Packages.props'
  - Directory.Build.props
  - Directory.Build.targets
  - global.json
  - .config/dotnet-tools.json

'area:docs':
  - 'docs/**/*'
  - '.all-contributorsrc'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/NuGet-README.md'
  - '**/README.md'
  - '**/THIRD-PARTY-NOTICES'

BRK: Revamp AlternatePack module
  CHANGELOG.md
  docs/Diagnostics.md
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code, area:docs

Update build scripts
  build.cake
  build/BuildData.cake
  build/Changelog.cake
  build/changelog.cake
Labels: area:build

Prepare release 1.0.88-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.88-preview
  global.json
Labels: area:deps

Remove duplicate target
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code

FIX: InnoSetup fails if script is not in project directory
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code

Update CI workflows
  .github/workflows/build-test-pack.yml
  .github/workflows/release.yml
Labels: area:ci

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.94-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.94-preview
  global.json
Labels: area:deps

FIX: Pre-version separator in InnoSetup default output names should be an underscore
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code, area:docs

Bump .NET SDK to 7.0.403
  global.json
Labels: area:deps

Bump JetBrains.Annotations to 2023.3.0
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code

Prepare release 1.0.99-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.99-preview
  global.json
Labels: area:deps

Adjust AssemblyInformationalVersion after NBGV: no metadata in public versions
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.Core.targets
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.targets
Labels: area:code, area:docs

Prepare release 1.0.102-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.102-preview
  global.json
Labels: area:deps

Use Title property as default for AssemblyTitle
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.Core.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.targets
Labels: area:code

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.106-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Revert "Use Title property as default for AssemblyTitle"
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.Core.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.targets
Labels: area:code, area:docs

Use AssemblyTitle instead of Title as default for AppFullName
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code, area:docs

BRK: Use PackageTitle instead of Title as NuGet package title
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/NuGetPack/NuspecFile.targets
Labels: area:code, area:docs

Prepare release 1.0.110-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump .NET SDK to 8.0, Roslyn to 4.8
  Directory.Packages.props
  README.md
  global.json
Labels: area:deps, area:docs

Bump cake.tool to 3.2.0
  .config/dotnet-tools.json
Labels: area:deps

Bump dotnet-reportgenerator-globaltool to 5.2.0
  .config/dotnet-tools.json
Labels: area:deps

Update build scripts
  build.cake
  build/git.cake
  build/nbgv.cake
  build/utilities.cake
  build/versioning.cake
Labels: area:build

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.116-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.116-preview
  global.json
Labels: area:deps

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.122-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Update code analysis configuration
  .globalconfig
Labels: area:style

Bump StyleCop.Analyzers to 1.2.0-beta.556
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.131-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.131-preview
  global.json
Labels: area:deps
