Repository Tenacom/Buildvana.Sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: area:code, area:style, area:build, area:repo, area:ci, area:deps, area:docs

Rename diagnostics: BVSDK prefix for both errors and warnings
  CHANGELOG.md
  docs/Diagnostics.md
  docs/ErrorsAndWarnings.md
  src/Buildvana.Sdk/Modules/AdditionalAssemblyInfo/Module.targets
  src/Buildvana.Sdk/Modules/NuGetPack/License.targets
  src/Buildvana.Sdk/Modules/NuGetPack/PackageIcon.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Readme.targets
  src/Buildvana.Sdk/Modules/NuGetPack/ThirdPartyNotices.targets
  src/Buildvana.Sdk/Modules/SourceGenerators/AfterModules.Core.targets
  src/Buildvana.Sdk/Sdk/Sdk.props
  src/Buildvana.Sdk/Sdk/Sdk.targets
Labels: area:code, area:docs

Sync settings in .gitattributes and .editorconfig
  .editorconfig
  .gitattributes
  Directory.Build.props
  Directory.Build.targets
  nuget.config
  src/Buildvana.Sdk/Aliased/ImportFiles.proj
  src/Buildvana.Sdk/Modules/JetBrainsAnnotations/Module.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.targets
  src/Buildvana.Sdk/Modules/ReferenceAssemblies/Module.targets
  src/Buildvana.Sdk/Modules/SourceGenerators/AfterModules.targets
  src/Buildvana.Sdk/Modules/XmlDocumentation/BeforeModules.props
  src/Buildvana.Sdk/Modules/XmlDocumentation/BeforeModules.targets
  src/Buildvana.Sdk/Modules/XmlDocumentation/Module.targets
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code, area:style, area:deps

ci: Add option to update changelog on prerelease
  .github/workflows/release.yml
  build.cake
Labels: area:build, area:ci

Fix links to releases and issues in changelog
  CHANGELOG.md
Labels: area:docs

Add NerdbankGitVersioning module
  CHANGELOG.md
  docs/Diagnostics.md
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.targets
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code, area:docs

Prepare release 1.0.7-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Fix last release version number in changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

ci: Fix changelog section title update [skip ci]
  build.cake
Labels: area:build

Fix syntax error in NerdbankGitVersioning module
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.targets
Labels: area:code

Fix wrong SDK version written to SdkVersion.props
  src/Buildvana.Sdk/Buildvana.Sdk.csproj
Labels: area:code

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.13-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk from 1.0.0-alpha.23 to 1.0.13-preview
  Common.props
  Directory.Packages.props
  global.json
Labels: area:deps

chore: Add .all-contributorsrc [skip ci]
  .all-contributorsrc
Labels: area:docs

Fix error RS1036 in source generator project
  src/Buildvana.Sdk.SourceGenerators/Buildvana.Sdk.SourceGenerators.csproj
Labels: area:code

Fix error RS1036 in source generator project
  src/Buildvana.Sdk.SourceGenerators/Buildvana.Sdk.SourceGenerators.csproj
Labels: area:code

Bump all dependencies not covered by dependabot
  build/github.cake
  global.json
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code, area:build, area:deps

Update build scripts
  build.cake
  build/dotnet.cake
  build/github.cake
Labels: area:build

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.26-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Octokit from v5.1.0 to v7.0.1
  build/github.cake
Labels: area:build

Bump .NET SDK to 7.0.306
  global.json
Labels: area:deps

Bump Buildvana.Sdk to 1.0.26-preview
  global.json
Labels: area:deps

BRK: Use AlternatePackMethod property instead of UseAlternatePack
  docs/Diagnostics.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code, area:docs

Set PackageId and PackageVersion when using alternate pack
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
Labels: area:code

Force IsPackable to true when using alternate pack
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
Labels: area:code

Add alternate pack method "None" that does nothing
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code

Make other modules aware that AlternatePack is being used
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code

Disable NuGetPack module if AlternatePack is being used.
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.PackableProject.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.targets
Labels: area:code

Bump Octokit from v5.1.0 to v7.0.1
  build/github.cake
Labels: area:build

Disable NuGetPack module if AlternatePack is being used.
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.PackableProject.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.Core.targets
  src/Buildvana.Sdk/Modules/NuGetPack/Module.targets
Labels: area:code

Make other modules aware that AlternatePack is being used
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code

Bump Buildvana.Sdk to 1.0.26-preview
  global.json
Labels: area:deps

Bump .NET SDK to 7.0.306
  global.json
Labels: area:deps

BRK: Use AlternatePackMethod property instead of UseAlternatePack
  docs/Diagnostics.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code, area:docs

Set PackageId and PackageVersion when using alternate pack
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
Labels: area:code

Force IsPackable to true when using alternate pack
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.targets
Labels: area:code

Add alternate pack method "None" that does nothing
  src/Buildvana.Sdk/Modules/AlternatePack/Module.targets
Labels: area:code

Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.41-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

.github/labeler.yml:

'area:code':
  - '*.sln'
  - 'src/**/*'

'area:style':
  - '**/.editorconfig'
  - '**/.globalconfig'
  - '**/stylecop.json'
  - '**/*.DotSettings'

'area:build':
  - '**/*.cake'
  - 'build/**/*'

'area:repo':
  - '.github/*.yml'
  - '.github/**/*.md'
  - CODEOWNERS
  - '.github/CODEOWNERS'

'area:ci':
  - '.github/workflows/**/*'
  - 'lgtm.yml'

'area:deps':
  - '**/Directory.Packages.props'
  - Directory.Build.props
  - Directory.Build.targets
  - global.json
  - .config/dotnet-tools.json

'area:docs':
  - 'docs/**/*'
  - '.all-contributorsrc'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/NuGet-README.md'
  - '**/README.md'
  - '**/THIRD-PARTY-NOTICES'
