Repository Tenacom/Buildvana.Sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: area:code, area:style, area:build, area:repo, area:ci, area:deps, area:docs

Bump Buildvana.Sdk to 1.0.41-preview
  global.json
Labels: area:deps

Update dependencies
  src/Buildvana.Sdk/Sdk/PackageVersions.props
Labels: area:code

Hide source generators DLL in Buildvana.Sdk project in Visual Studio
  src/Buildvana.Sdk/Buildvana.Sdk.csproj
Labels: area:code

Bump Roslyn to 4.6 / VS17.6 / .NET SDK 7.0.306
  Directory.Packages.props
  README.md
Labels: area:deps, area:docs

Change NuGet preview feed provider from MyGet to Feedz.io
  README.md
  nuget.config
Labels: area:docs

Update README to state that Buildvana.Sdk has been tested with ASP.NET projects
  README.md
Labels: area:docs

Build: Bump Octokit to 7.1.0
  build/github.cake
Labels: area:build

Update changelog [skipci]
  CHANGELOG.md
Labels: area:docs

CI: Change NuGet feed provider from MyGet to Feedz.io [skip ci]
  .github/workflows/release.yml
Labels: area:ci

Prepare release 1.0.51-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.51-preview
  global.json
Labels: area:deps

Bump .NET SDK to 7.0.401
  CHANGELOG.md
  global.json
Labels: area:deps, area:docs

Bump Roslyn to 4.7; require Visual Studio 17.7
  CHANGELOG.md
  Directory.Packages.props
Labels: area:deps, area:docs

Add stub GetBuildVersion target when not using Nerdbank.GitVersioning
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/BeforeModules.targets
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.Stubs.targets
  src/Buildvana.Sdk/Modules/NerdbankGitVersioning/Module.targets
Labels: area:code, area:docs

FIX: InnoSetupIncludeLine items are not freed after use
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code, area:docs

Let Nerdbank.GitVersioning do its job before packing with an alternate method
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/BeforeModules.Core.targets
Labels: area:code, area:docs

Add CompletePublishFolderMetadataDependsOn property and use it in InnoSetup alternate packing
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

ADD: Published folders can be zipped
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

ADD: ReleaseAssetList module
  CHANGELOG.md
  docs/Diagnostics.md
  src/Buildvana.Sdk/Modules/ReleaseAssetList/Module.Core.targets
  src/Buildvana.Sdk/Modules/ReleaseAssetList/Module.targets
Labels: area:code, area:docs

ADD; Add zipped publish folders to release asset lists
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

Update build scripts
  build/github.cake
Labels: area:build

Prepare release 1.0.66-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

ADD, BRK: Add MIME type to release assets
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/ReleaseAssetList/Module.Core.targets
Labels: area:code, area:docs

Support MIME type for zipped publish folders
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

Prepare release 1.0.69-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.69-preview
  global.json
Labels: area:deps

Use AssemblyInformationalVersion instead of BuildVersion in zipped folder names
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

Prepare release 1.0.72-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Bump Buildvana.Sdk to 1.0.72-preview
  global.json
Labels: area:deps

Use PackageVersion instead of AssemblyInformationalVersion in zipped folder names
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code, area:docs

Prepare release 1.0.75-preview [skip ci]
  CHANGELOG.md
Labels: area:docs

Update build scripts
  build.cake
  build/BuildData.cake
  build/DocFx.cake
  build/changelog.cake
  build/dotnet.cake
  build/environment.cake
  build/fail.cake
  build/github.cake
  build/json.cake
  build/nbgv.cake
  build/process.cake
  build/versioning.cake
Labels: area:build

Bump Buildvana.Sdk to 1.0.75-preview
  global.json
Labels: area:deps

Bump .NET SDK to 7.0.402
  global.json
Labels: area:deps

Refer to the correct property in comment
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.PublishToFolders.targets
Labels: area:code

Add comments to explain cross-joining two item groups
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code

Remove redundant property assignment
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code

FIX: Cannot generate setups for same framework and different RIDs (e.g. win10-x86, win10-x64)
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/AlternatePack/Module.Core.InnoSetup.targets
Labels: area:code, area:docs

Minor wording fixes in documentation
  docs/Diagnostics.md
Labels: area:docs

Add IncludeNuGetPackSupport property
  CHANGELOG.md
  src/Buildvana.Sdk/Modules/NuGetPack/Module.targets
Labels: area:code, area:docs

.github/labeler.yml:

'area:code':
  - '*.sln'
  - 'src/**/*'

'area:style':
  - '**/.editorconfig'
  - '**/.globalconfig'
  - '**/stylecop.json'
  - '**/*.DotSettings'

'area:build':
  - '**/*.cake'
  - 'build/**/*'

'area:repo':
  - '.github/*.yml'
  - '.github/**/*.md'
  - CODEOWNERS
  - '.github/CODEOWNERS'

'area:ci':
  - '.github/workflows/**/*'
  - 'lgtm.yml'

'area:deps':
  - '**/Directory.Packages.props'
  - Directory.Build.props
  - Directory.Build.targets
  - global.json
  - .config/dotnet-tools.json

'area:docs':
  - 'docs/**/*'
  - '.all-contributorsrc'
  - '**/CHANGELOG.md'
  - '**/LICENSE'
  - '**/NuGet-README.md'
  - '**/README.md'
  - '**/THIRD-PARTY-NOTICES'
